* {
    margin: 0;
}

.main {
    width: 400px;
    height: 300px;
    background-color: rgb(240, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    /* border: 3px double rgb(0, 0, 0); */
    /* border: 3px dashed rgb(0, 0, 0); */
    /* border: 3px dotted rgb(0, 0, 0); */
    /* border-radius: ; */
    /* padding: 15px; */
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 15px auto;
    padding: 10px 7px 15px;
    /* margin-left: 150px; */
    /* Ako imamo 4 vrednosti za svojstvo margin ili padding, shvatanje css-a je sledece: */
    /* 1. top 2. right, left 3. bottom */
}
button {
    width: 80px;
    height: 50px;
    padding: 50px;
    margin: 40px 40px;
}

p {
    text-align: justify;
    text-indent: 25px;
}

p:hover {
    background-color: blue;
    color: peru;
}

/* Uradi
kartica kao sa slike
glavno kontejner sirina 400px visina 600px
foto da zauzima trecinu glavnog kontejnera
naslov h1 podnaslov h3 */